@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');


.bgColor {
  border-radius: 2px;
  background: var(
    --grad,
    linear-gradient(
      171deg,
      rgba(0, 240, 255, 0.8) 8.85%,
      rgba(83, 118, 255, 0.8) 42.71%,
      rgba(0, 12, 182, 0.8) 100%
    )
  );
  box-shadow: 7px 0px 106px 0px rgba(0, 0, 0, 0.1);
}
.headerStyle {
  box-shadow: 0px 1.8761134147644043px 36px 0px rgba(9, 30, 66, 0.05);
}
.history {
  border-radius: 20px;
  box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.05);
  /* background: #fcfcfc; */
  /* Shadow */
}
.card {
  border-radius: 25px;
  background: var(--white, #fff);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}
.box{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07)
}